@import 'tailwindcss';
@source '../views/**/*.blade.php';
@source '../../src/**/*.php';
@variant dark (&:where(.dark, .dark *));

/* Hide elements until Alpine.js initializes */
[x-cloak] { display: none !important; }

@theme {
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);
}

/* Stream Terminal */
.stream-web-terminal canvas {
    width: 100% !important;
    height: 100% !important;
}

.stream-web-terminal textarea {
    caret-color: transparent !important;
}
